<!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="{{ 'assets/css/main.css' | theme }}" />
<link rel="stylesheet" href="{{ 'assets/css/fontawesome.min.css' | theme }}" />
<link rel="stylesheet" href="{{ 'assets/css/brands.min.css' | theme }}" />
<link rel="stylesheet" href="{{ 'assets/css/solid.min.css' | theme }}" />
<link rel="stylesheet" href="{{ 'assets/css/normalize.css' | theme }}" />
<!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | theme }}" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | theme }}" /><![endif]-->
<noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | theme }}" /></noscript>